@import "./mixins";

[ocText*="d"],
[ocText*="h"] {
  font-family: sans-serif !important;
  font-weight: 600;
  letter-spacing: 0.01em;

  &[textAlign="left"] {
    text-align: left;
  }
  &[textAlign="center"] {
    text-align: center;
  }
  &[textAlign="right"] {
    text-align: right;
  }
}

[ocText="d1"] {
  font-size: 60px !important;
  line-height: 64px;
  letter-spacing: 0.02em;
}

[ocText="d2"] {
  font-size: 48px !important;
  line-height: 54px;
  letter-spacing: 0.02em;
}

[ocText="h1"] {
  font-size: 40px !important;
  line-height: 48px;

  @include m-query {
    font-size: 32px !important;
    line-height: 40px;
  }
}

[ocText="h2"] {
  font-size: 32px !important;
  line-height: 40px;

  @include m-query {
    font-size: 24px !important;
    line-height: 32px;
  }
}

[ocText="h3"] {
  font-size: 24px !important;
  line-height: 32px;

  @include m-query {
    font-size: 20px !important;
    line-height: 24px;
  }
}

[ocText="h4"] {
  font-size: 20px !important;
  line-height: 24px;

  @include m-query {
    font-size: 16px !important;
    line-height: 24px;
  }
}

[ocText="h5"] {
  font-size: 16px !important;
  line-height: 24px;
}

[ocText="h6"] {
  font-size: 14px !important;
  line-height: 16px;
}

[ocText*="b"] {
  font-family: sans-serif !important;
  font-weight: 400;
  letter-spacing: 0;

  &[textAlign="left"] {
    text-align: left;
  }
  &[textAlign="center"] {
    text-align: center;
  }
  &[textAlign="right"] {
    text-align: right;
  }
}

[ocText="b1"] {
  font-size: 20px !important;
  line-height: 24px;
}

[ocText="b2"] {
  font-size: 16px !important;
  line-height: 24px;
}

[ocText="b3"] {
  font-size: 14px !important;
  line-height: 16px;
  letter-spacing: 0.01em;
}

[ocText="b4"] {
  font-size: 12px !important;
  line-height: 16px;
  letter-spacing: 0.02em;
}

[ocText="b1s"] {
  font-size: 20px !important;
  font-weight: 600;
  line-height: 24px;
}

[ocText="b2s"] {
  font-size: 16px !important;
  font-weight: 600;
  line-height: 24px;
}

[ocText="b3s"] {
  font-size: 14px !important;
  font-weight: 600;
  line-height: 24px;
}

[ocText="b4s"] {
  font-size: 12px !important;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
}

[ocText="note"],
[ocText="note-s"] {
  font-family: sans-serif !important;
  font-size: 10px !important;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.01em;
}

[ocText="note-s"] {
  font-weight: 600;
}

[ocTextDivider="true"] {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--grey-10);
  margin-top: 8px;
}
