/* .container {
  margin: 0px 12px;
  display: flex;
  gap: 12px;

  .table-section {
    flex: 1;
  }

  .info-section {
    flex: 1;
  }
}

.footer-bar {
  padding-left: 12px;
  padding-top: 10px;
  display: flex;
  column-gap: 12px;
  align-items: center;

  .directory {
    font-size: 14px;
    color: var(--grey-400);
  }
}

.game-row {
  cursor: pointer;

  &.selected {
    background-color: var(--grey-200);
  }
}

.coverart-container {
  border: 1px solid var(--grey-200);
}

.actions-box {
  height: 100%;
  padding: 24px;
  border: 1px solid var(--grey-200);
} */

.library-page {
  margin: 0px 12px;
  height: 100%;
}

.footer-bar {
  padding-top: 10px;
  display: flex;
  column-gap: 12px;
  align-items: center;

  .footerText {
    font-size: 14px;
    color: var(--grey-400);
  }
}
