.library-page {
  margin: 0px 12px;
  height: 100%;
}

.footer-bar {
  padding-top: 10px;
  display: flex;
  column-gap: 12px;
  align-items: center;

  .footerText {
    font-size: 14px;
    color: var(--grey-400);
  }
}
