.clr-vertical-nav {
  ::ng-deep .nav-content {
    margin-top: 24px;
  }

  .nav-box {
    flex: 1;
  }
  .dir-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    .dir-text {
      margin-bottom: 8px;
      max-width: 20ch;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
