<div class="main-container">
  <div class="content-container">
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="/library" routerLinkActive="active"
        ><cds-icon clrVerticalNavIcon shape="hard-drive"></cds-icon>Library</a
      >
      <a
        clrVerticalNavLink
        routerLink="/invalid-files"
        routerLinkActive="active"
        ><cds-icon clrVerticalNavIcon shape="unknown-status"></cds-icon>Invalid
        Files</a
      >
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="/logs" routerLinkActive="active"
        ><cds-icon clrVerticalNavIcon shape="resistor"></cds-icon>Logs</a
      >
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
