:host {
  max-width: 480px;
}

.container {
  width: 480px;
  height: 202px;
  border: 1px solid var(--cds-alias-object-border-color);
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.cover-art {
  width: 140px;
  height: 200px;
  overflow: hidden;
  border-right: 1px solid var(--cds-alias-object-border-color);
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.08);
}

.game-info {
  display: flex;
  flex-direction: column;
}

.game-details {
  width: 100%;
  flex: 1;
  margin-top: 12px;
  margin-left: 12px;
  div {
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.game-buttons {
  width: 100%;

  margin-left: 92px;
  margin-bottom: 12px;

  .btn-group {
    margin-top: 4px;
  }
}
