<div class="content">
  <div class="nav">
    <button
      type="button"
      class="button"
      [class.active]="currentPath === 'library'"
      (click)="onNavigationClick('')"
    >
      <span>
        <lucide-angular [img]="libraryIcon" size="20px"></lucide-angular>
      </span>
      <span ocText="b3" class="text">Library</span>
    </button>

    <button
      type="button"
      class="button"
      [class.active]="currentPath === 'invalid-files'"
      (click)="onNavigationClick('invalid-files')"
    >
      <span>
        <lucide-angular [img]="fileQuestionIcon" size="20px"></lucide-angular>
      </span>
      <span ocText="b3" class="text">Invalid Files</span>
    </button>

    <button
      type="button"
      class="button"
      [class.active]="currentPath === 'logs'"
      (click)="onNavigationClick('logs')"
    >
      <span
        ><lucide-angular [img]="logsIcon" size="20px"></lucide-angular
      ></span>
      <span ocText="b3" class="text">Logs</span>
    </button>
  </div>
  <span
    ocText="b3"
    style="color: var(--grey-200); margin-left: 12px; margin-bottom: 4px"
    >{{ version }}</span
  >
  <div class="directory">
    <button type="button" class="button full">
      <span ocText="b3">Choose Directory</span>
    </button>
  </div>
  <div class="directory utils">
    <button type="button" class="button half">
      <lucide-angular [img]="refreshIcon" size="20px"></lucide-angular>
    </button>
    <button type="button" class="button half danger">
      <lucide-angular [img]="xIcon" size="20px"></lucide-angular>
    </button>
  </div>
</div>
