:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logs-container {
  margin-top: 12px;
  border: 1px solid var(--cds-alias-object-border-color);
  overflow-x: wrap;
  overflow-y: scroll;
  flex: 1;

  .log {
    .verbose {
      color: var(--cds-global-color-cool-gray-200);
    }

    .error {
      color: var(--cds-alias-object-interaction-danger-hover);
    }
  }
}

.action-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cds-alias-object-border-color);
}

.headline {
  font-size: var(--cds-global-typography-display-font-size);
  font-weight: var(--cds-global-typography-display-font-weight);
  line-height: var(--cds-global-typography-display-line-height);
  letter-spacing: var(--cds-global-typography-display-letter-spacing);
}
