<div class="action-row">
  <div class="headline">Logs</div>
</div>
<clr-toggle-wrapper>
  <input
    type="checkbox"
    clrToggle
    [checked]="verboseMode"
    (change)="toggleVerboseMode()"
    name="verbose"
  />
  <label>Verbose Mode</label>
</clr-toggle-wrapper>
<div class="logs-container">
  @for (log of logs; track $index) { @if(log.type !== "VRB" || verboseMode) {
  <div class="log">
    <code
      [ngClass]="{ verbose: log.type === 'VRB', error: log.type === 'ERR' }"
    >
      [{{ log.type }}] {{ log.timestamp }}: <{{ log.location }}>
      {{ log.message }}
    </code>
  </div>
  } }
</div>
